:root {
  background: rgb(151, 149, 158);
  background: linear-gradient(
    90deg,
    rgba(151, 149, 158, 1) 0%,
    rgba(179, 183, 184, 1) 0%,
    rgba(224, 224, 224, 1) 43%
  );
  padding: 40px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  /* margin: 0; */
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-style: none;
  padding: 10px;
  width: 75px;
}
